.pokemon {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 45%;
  background-color: rebeccapurple;
  margin: 20px;
  border-radius: 12px;
}

.pokemonInfo {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  padding: 20px;
  background-color: rgb(80, 207, 216);
}

.pokemonImage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.pokemonImage img {
  width: 150px;
}
